.footer{
    width: 100%; 
    /* max-width: 100%; */
    height: 1.5rem;
    background: rgb(120,120,120);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}

.h3{
   color: black;
 font-size: 2rem;
    padding: 1rem 0.5rem;
    font-weight: 400;
}

.h4{
    color: black;
 font-size: 1rem;
    line-height: 2rem;
    padding: 2rem 1rem;
    font-weight: 200;


}
.footermenu{
  display: flex;
  width: 100%;
  padding: 2rem 1rem;
  justify-content: center;
  align-content: center;  

 
}
.list{
    width: 35%;
    padding: 2rem 2rem;
    display:table-column;
    justify-content: center;
   

}
.app {
  width: 99%;
  background-image: url('../../data/cta-bg.webp');
  background-size:cover;
  background-position: cover;
  height: auto;
  z-index: -1;
  position: absolute;
  height: 30%;
 

}
